body {
    background: #fc9709 url("src\assets\img\slice2.png") fixed;
    margin: 0;
}
*{
    font-family: "Roboto", "Verdana", "Calibri", sans-serif;
    line-height: 1.5;
}
@media (min-width: 1600px) {
    .haupta {
        background: url("src\assets\img\slice2.png") fixed;
        width: 75%;
        margin: 0px auto;
        padding: 1.5% 1%;
        box-shadow: 2px 2px 5px #666666;
    }
}