.location-map{
    width: 50%;
    height: 50%;
}

.svg{

 
    position: absolute;
    width: 64rem;
    height: 64rem;
}
body {
    background: #fc9709 url("src\assets\img\hintergrund.jpg") fixed;
    margin: 0;
}