<!DOCTYPE html> <div class="contentt">
<div class="Header1">
  <nav>
    <img src="assets\img\Header 3.png" alt="header noodle" width="100%" >
      <div style="background-color: black;">
      <ul style="list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: black;">
      <li style="float:left;">
        <a style="display:block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;" 
        routerLink="/Home" routerLinkActive="active">Noodle Home</a> 
          </li>
          <li>
        <a style="display:block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;"
        routerLink="/SchwarzesBrett" routerLinkActive="active">Noodle Schwarzes Brett</a>
          </li>
          <li>
            <a style="display:block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;"
            routerLink="/DHBW_Memes" routerLinkActive="active"> Noodle Memes</a>
          </li> 
          <li>
            <a style="display:block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;"
            routerLink="/Calendar" routerLinkActive="active">Noodle Kalendar</a>
          </li> 
          <li>
            <a style="display:block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;"
            routerLink="/DHBW-Standorte" routerLinkActive="active"> DHBW Standorte</a>
          </li> 

          
          <li style="float:right">
            <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Login</button>
          </li>

          <li style="float:right">
            <a style="display:block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;"
            href="https://www.dhbw.de/startseite" routerLinkActive="active">DHBW Website</a>
          </li>          
        <li style="float:right"><a style="display:block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;"
          routerLink="Impressum" routerLinkActive="active">Noodle Impressum</a></li>
      </ul>
    </div>
</nav>
</div>

  

<ng-template #content let-modal>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="dateOfBirth">Username</label>
        <div class="input-group">
          <input id="dateOfBirth" class="form-control" placeholder="put your Username here">
        </div>
        <br>
        <div class="mb-3">
          <label for="dateOfBirth">Passwort</label>
          <div class="input-group">
            <input tpype="password" class="form-control" placeholder="put your Passwort here">
            
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('')">Save</button>
  </div>
</ng-template>

<body>
  <router-outlet>
  </router-outlet>
</body>
</div>

