<h1>Willkommen bei Noodle!</h1>
<nav>
  <ul style="display: flex; list-style: none; justify-content: center;">
    <li >
  <a routerLink="/Home" routerLinkActive="active">Home</a> 
    </li>
    <li>
  <a routerLink="/Todo-Liste" routerLinkActive="active">Schwarzes Brett</a>
    </li>
    <li>
      <a routerLink="/Taschenrechner" routerLinkActive="active"> Taschenrechner</a>
    </li>
    <li>
      <a routerLink="/DHBW_News" routerLinkActive="active">DHBW Connect</a>
    </li>
  </ul>

</nav>

<router-outlet></router-outlet>
<h1 align="center" style="color: green; margin-top: 60rem;">Here our Current News and Posts</h1>
<app-DHBWNews [posts]="newsFeedPosts"></app-DHBWNews>
