<body>
    <div class="weather1">
     <!-- weather widget start https://hotel-mix.de/?page=weather_widget_customize&type=4&cityID=18324&cmetric=1#--><a target="_blank" href="https://www.wetter.com/deutschland/stuttgart/DE0010287.html"><img src="https://w.bookcdn.com/weather/picture/4_18324_1_2_137AE9_300_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=124&domid=591&anc_id=50602"  alt="booked.net"/></a><!-- weather widget end -->
    </div>
    <div class="hauptbehaelter">
        <h1>Systemanalyse</h1>
        <section class="padding-lr20">        
            
    
        </section>    
        <section>
            <h2>Modulplan Wirtschaftsinformatik Bachelor</h2>
            <div class="tabellenbehaelter">
                <table>
                    <thead>
                        <tr>
                            <th colspan="4">Wirtschaftsinformatik WW2021_C</th>
                        </tr>
                        <tr>
                            <th>Studienjahr</th>
                            <th>Modulbezeichnung</th>
                            <th>ECTS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1. </td>
                            <td>Methoden der Wirtschaftsinformatik I</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>1. </td>
                            <td>Grundlegende Konzepte der IT</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>1. </td>
                            <td>Programmierung I & II</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>1. </td>
                            <td>Betriebswirtschaftslehre</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>1. </td>
                            <td>Recht</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>1. </td>
                            <td>Mathematik I</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>1. </td>
                            <td>Schlüsselqualifikationen I</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>1. </td>
                            <td>Praxismodul I</td>
                            <td>20</td>
                        </tr>


                        <tr>
                            <td>2. </td>
                            <td>Methoden
                                der Wirtschaftsinformatik II</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>2. </td>
                            <td>Datenbanken</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>2. </td>
                            <td>Entwicklung verteilter Systeme</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>2. </td>
                            <td>Finanzierung und Rechnungswesen</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>2. </td>
                            <td>VWL</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>2. </td>
                            <td>Mathematik II</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>2. </td>
                            <td>Schlüsselqualifikationen II</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>2. </td>
                            <td>Praxismodul II</td>
                            <td>20</td>
                        </tr>

                        <tr>
                            <td>3.</td>
                            <td>Integrationsseminar
                                zu ausgewählten
                                Themen der Wirtschaftsinformatik</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Geschäftsprozesse und
                                deren Umsetzung</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Projekt</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Neue Konzepte</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Management
                            </td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Schlüsselqualifikationen III</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>3. </td>
                            <td>Bachelorarbeit</td>
                            <td>12</td>
                        </tr>

                        <tr>
                            <td>3. </td>
                            <td>Praxismodul III</td>
                            <td>8</td>
                        </tr>
                       

                       

                    
                    </tbody>
                </table>
                <table>
                    <thead>
                        <tr>
                            <th colspan="4">Durch TM/VM</th>
                        </tr>
                        <tr>
                            <th>TM/VM</th>
                            <th>Attacke</th>
                            <th>Typ</th>
                            <th>AP</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>TM01</td>
                            <td>Megahieb</td>
                            <td>Normal</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>TM05</td>
                            <td>Megakick</td>
                            <td>Normal</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>TM06</td>
                            <td>Toxin</td>
                            <td>Gift</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>TM08</td>
                            <td>Bodyslam</td>
                            <td>Normal</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td>TM09</td>
                            <td>Bodycheck</td>
                            <td>Normal</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>TM10</td>
                            <td>Risikotackle</td>
                            <td>Normal</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td>TM16</td>
                            <td>Zahltag</td>
                            <td>Normal</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>TM17</td>
                            <td>Überroller</td>
                            <td>Kampf</td>
                            <td>25</td>
                        </tr>
                        <tr>
                            <td>TM19</td>
                            <td>Geowurf</td>
                            <td>Kampf</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>TM20</td>
                            <td>Raserei</td>
                            <td>Normal</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>TM24</td>
                            <td>Donnerblitz</td>
                            <td>Elektro</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td>TM25</td>
                            <td>Donner</td>
                            <td>Elektro</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>TM31</td>
                            <td>Mimikry</td>
                            <td>Normal</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>TM32</td>
                            <td>Doppelteam</td>
                            <td>Normal</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td>TM33</td>
                            <td>Reflektor</td>
                            <td>Psycho</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>TM34</td>
                            <td>Geduld</td>
                            <td>Normal</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>TM39</td>
                            <td>Sternschauer</td>
                            <td>Normal</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>TM40</td>
                            <td>Schädelwumme</td>
                            <td>Normal</td>
                            <td>15</td>
                        </tr>
                        <tr>
                            <td>TM44</td>
                            <td>Erholung</td>
                            <td>Psycho</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>TM45</td>
                            <td>Donnerwelle</td>
                            <td>Elektro</td>
                            <td>20</td>
                        </tr>
                        <tr>
                            <td>TM50</td>
                            <td>Delegator</td>
                            <td>Normal</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>VM05</td>
                            <td>Blitz</td>
                            <td>Elektro</td>
                            <td>20</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section>
            <h2>Pikachu in der realen Welt</h2>
            <ul class="padding-lr20">
                <li>Japanische Forscher des Osaka Bioscience Institute benannten nach dem Pokémon ein neu entdecktes Protein: Das Pikachurin, welchem eine Rolle beim Bewegungssehen zugeschrieben wird. Es wurde nach Pikachus Schnelligkeit benannt.</li>
                <li>In den USA wurde ein amerikanischer Schulbus umgebaut, gelb lackiert und so entstand der legendäre Pikachu-Bus, der auch auf den deutschen Pokémon Days bis einschließlich 2010 dabei war.</li>
                <li>Pikachu wurde 2001 auf den Niue-Dollar gedruckt.</li>
                <li>Pikachu war 2014 das offizielle WM-Maskottchen der japanischen Fußball-Nationalmannschaft.</li>
            </ul>
        </section>
    </div>
</body>
<router-outlet></router-outlet>

