<body>
    <div class="weather1">
     <!-- weather widget start https://hotel-mix.de/?page=weather_widget_customize&type=4&cityID=18324&cmetric=1#--><a target="_blank" href="https://www.wetter.com/deutschland/stuttgart/DE0010287.html"><img src="https://w.bookcdn.com/weather/picture/4_18324_1_2_137AE9_300_ffffff_333333_08488D_1_ffffff_333333_0_6.png?scode=124&domid=591&anc_id=50602"  alt="booked.net"/></a><!-- weather widget end -->
    </div>
    <div class="hauptbehaelter">
    
        <section>
            <h2>Modulplan Wirtschaftsinformatik Bachelor</h2>
            <div class="tabellenbehaelter">
                <table>
                    <thead>
                        <tr>
                            <th colspan="4">Wirtschaftsinformatik WW2021_C</th>
                        </tr>
                        <tr style="border-bottom: solid 3px;">
                            <th>Studienjahr</th>
                            <th>Modulbezeichnung</th>
                            <th>ECTS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1. </td>
                            <td>Methoden der Wirtschaftsinformatik I</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>1. </td>
                            <td>Grundlegende Konzepte der IT</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>1. </td>
                            <td>Programmierung I & II</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>1. </td>
                            <td>Betriebswirtschaftslehre</td>
                            <td>10</td>
                        </tr>
                        <tr>
                            <td>1. </td>
                            <td>Recht</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>1. </td>
                            <td>Mathematik I</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>1. </td>
                            <td>Schlüsselqualifikationen I</td>
                            <td>5</td>
                        </tr>
                        <tr style="border-bottom: solid 3px;">
                            <td>1. </td>
                            <td>Praxismodul I</td>
                            <td>20</td>
                        </tr>


                        <tr>
                            <td>2. </td>
                            <td>Methoden
                                der Wirtschaftsinformatik II</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>2. </td>
                            <td>Datenbanken</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>2. </td>
                            <td>Entwicklung verteilter Systeme</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>2. </td>
                            <td>Finanzierung und Rechnungswesen</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>2. </td>
                            <td>VWL</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>2. </td>
                            <td>Mathematik II</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>2. </td>
                            <td>Schlüsselqualifikationen II</td>
                            <td>5</td>
                        </tr>
                        <tr style="border-bottom: solid 3px;">
                            <td>2. </td>
                            <td>Praxismodul II</td>
                            <td>20</td>
                        </tr>

                        <tr>
                            <td>3.</td>
                            <td>Integrationsseminar
                                zu ausgewählten
                                Themen der Wirtschaftsinformatik</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Geschäftsprozesse und
                                deren Umsetzung</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Projekt</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Neue Konzepte</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Management
                            </td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>3.</td>
                            <td>Schlüsselqualifikationen III</td>
                            <td>5</td>
                        </tr>
                        <tr>
                            <td>3. </td>
                            <td>Bachelorarbeit</td>
                            <td>12</td>
                        </tr>

                        <tr>
                            <td>3. </td>
                            <td>Praxismodul III</td>
                            <td>8</td>
                        </tr>
                       

                       

                    
                    </tbody>
                </table>
            </div>
        </section>
        <section>
            <h2>Master Wirtschaftsinformatik</h2>
            <ul>
                <li>Alle Dualen Master der DHBW sind akkreditiert</li>
                <li> Für Bachelorabsolvent*innen der Informatik und Betriebswirtschaftslehre, die sich auf Wirtschaftsinformatik spezialisieren möchten

                </li>
                <li>
                    Für Bachelorabsolvent*innen der Wirtschaftsinformatik, die ihre Fachkenntnisse vertiefen möchten.
                </li>
                <li>Für Fachkräfte und Führungskräfte in Unternehmen, die unterschiedliche Schnittstellenfunktionen im Umfeld der betrieblichen IT ausfüllen und sich in Wirtschaftsinformatik weiterbilden möchten.
                </li>
                    
               
                <li><a target="_blank" href ="https://www.cas.dhbw.de/fileadmin/user_upload/Studium/Wirtschaft/M_W_WI_Factsheet.pdf"  download> Fact Sheet Wirtschaftsinformatik Master </a> </li>
            </ul>
           
            
        </section>
       
    </div>
</body>
<router-outlet></router-outlet>

